node_modules/
dist/
build/
*.pyc
__pycache__/
.env
.venv
venv/
env/
.DS_Store
.vscode
*.egg-info/
progress.md
frontend/.env.production
frontend/tsconfig.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js
